@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>My name is Jerick Molina</h1>
    <p class="lead">On going to become a C#.Net Developer and learning Azure.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>My projects</h2>
        <p>
            Link to take you to my projects in Git Hub
        </p>
        <p><a class="btn btn-default" href="https://github.com/Jerick-Molina">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>I have 2 brothers and a mother and father </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Examples</h2>
        <p>Ignore this</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>